@model Library.Models.Catalog.AssetIndexModel

<div class="assets">
    <h3>Library Catalog</h3>
    <div id="assetTable">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Author / Director</th>
                    <th>Dewe Call Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var asset in Model.Asset)
                {
                    <tr class="assetRow">
                        <td class="img-responsive" style="width:10%;">
                              <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                                    <img src="@asset.ImageUrl" class="imageCell" />
                                </a>
                        </td>
                        <td>@asset.Title</td>
                        <td>@asset.AuthorOrDirector</td>
                        <td>@asset.DeweyCallNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

